* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 0;
}

header {
  background-color: #f5ba13;
  margin: auto 0;
  padding: 16px 32px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

input {
  word-wrap: break-word;
  word-break: break-all;
  border: 0;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}

textarea {
  padding: 0 0 5rem 0;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  border: 0;
  font-size: 1.25rem;
}

::placeholder {
  font-size: 1.25rem;
}

#note-input {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 25%;
  margin: 16px auto;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:1.4rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 2rem;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}